<html>
    <head>
        <%- include('partials/header1.ejs') %>
    </head>
        <body class="auckland-page" background="/public/images/aucklandCity1.png" style="background-position: top;">
        <%- include('partials/navbar1.ejs') %>
        <div class="container hero">
            <div class="container">
                <h2 class="pageTitle auckland">Auckland</h2>
            </div>
            <!-- <img class="img2" src="/public/images/aucklandCity1.png" alt="GPT Generated image of Auckland CBD, New Zealand"> -->
            <div class="container xtracontent">
                <p style="font-size: x-large; line-height: 8px;">Auckland is the largest city in New Zealand.</p>
                <p style="font-size: larger;">Known for its beautiful <a href="beaches">beaches</a> and vibrant culture</p>
                <p style="margin-top: -15px;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae eligendi harum dolorem officiis facilis cumque, quibusdam a adipisci quas ex, excepturi minus itaque repellendus, placeat assumenda fugit. Natus, vitae cupiditate.
                </p>
            </div>
        </div>
    </body>
</html>