<html>
    <head>
        <%- include('partials/header1.ejs') %>
    </head>
    <body class="beaches-page" background="/public/images/orewaBeach.png">
        <%- include('partials/navbar1.ejs') %>
        <div class="container hero">
            <div class="container">
                <h2 class="pageTitle beaches">Beaches</h2>
            </div>
            <!-- <img class="img2" src="/public/images/orewaBeach.jpg" alt="A picture of Orewa Beach from a drone"> -->
            <div class="container xtracontent">
                <p style="font-size: x-large; line-height: 8px;">Orewa beach is a stunning coastal destination.</p>
                <p style="font-size: larger;">Known for its golden sands and crystal clear waters</p>
                <p style="margin-top: -15px;">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo ea vero excepturi atque neque nemo molestias nisi, natus dicta a odio fuga, aspernatur quisquam cum, iste culpa quidem delectus necessitatibus. Doloribus, voluptates. Quisquam, cumque.
                </p>
            </div>
        </div>
    </body>
</html>